{% extends "index.html" %}
{% block navbar_index %}
<ul>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="prices.html">Prices</a></li>
</ul>
{% endblock %}


{% extends "contact.html" %}
{% block navbar_contact %}
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="prices.html">Prices</a></li>
</ul>
{% endblock %}

{% extends "prices.html" %}
{% block navbar_prices %}
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="contact.html">Contact</a></li>
</ul>
{% endblock %}