<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <div>
            {% block navbar_contact %}
            {% endblock %}
        </div>
        <div>
            <h3>Contact:</h3> <br>
            <p>Email: superomegafirma@google.com</p><br>
            <p>Phone: 0745444666</p><br>
            <p>Address: Aleea Negoiu Nr.11</p>
        </div>
    </body>
</html>