<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <div>
            {% block navbar_index %}{% endblock %}
        </div>
        <div>
            <h2> Hello there friend !</h2>
            <img src = "https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </div>
    </body>
</html>