<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <div>
            {% block navbar_prices %}
            {% endblock %}
        </div>
        <div>
            <table class="table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Simple website</td>
                    <td>100 $</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Cool website</td>
                    <td>200$</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Website with flask like Pitech likes</td>
                    <td>Your soul</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </body>
</html>