<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}" media=”screen” />
    </head>
    <body>
        <h1 id="title">Hy there</h1>
        <img src = "https://www.petrebels.com/wp-content/uploads/2021/05/Maine-Coon-1-S_0.jpg">
    </body>

</html>
